<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    
    <div id="page">
    <div id="header">
        

         

        <div id="navigation"> 
            <a href="home">Home</a>
            <a href="help" >Help</a>
            
            
         </div>
        </div>

            <div id="main"></div>
            <div id="footer"></div>
    </div>
</head>

<body>
    <h1>Welcome to the start of my site!</h1>

<h2>This is the start of mysite, it is currently in progress, currently the Home page in the navigation bar is done.</h2>


</body>
</html>

